* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.container {
  width: 100%;
  display: flex;
}

header {
  border: solid black 1px;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: lighten(black, 20%);
  .logo {
    color: white;
    margin: 0;
    padding: 15px 3%;
  }
  nav {
    display: flex;
    width: 100%;
    ul {
      display: flex;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      justify-content: space-between;
      li {
        border: solid black 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        padding: 10px 3%;
        a {
          color: darken(white, 20%);
          text-decoration: none;
          font-size: 300;
        }
      }
    }
  }
}

.main-content {
  border: solid black 1px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
  }
  #home {
    display: flex;
    flex-direction: column;
    h2 {
      display: flex;
      justify-content: flex-end;
      width: 40%;
      align-self: flex-end;
      margin-bottom: 0;
      margin-right: 3%;
    }
    .monster {
      font-size: 1.4em;
      width: 60%;
      margin-left: 3%;
    }
    .filler {
      width: 85%;
      align-self: center;
      text-align: justify;
      margin-top: 20px;
    }
  }
}

